$theme_white: white;
$theme_brown: #474d77;
$theme_fog: #aad3ee;
$theme_blue: #3b89b9;
$theme_dark: #15427a;

$home_img: "../assets/welcome.jpg";
$auth_img: "../../assets/auth.jpg";
$standart_img: "../assets/standart_page.jpg";
$error_img: "../../assets/error.svg";
